<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avenir 아이디확인</title>
    <link rel="stylesheet" href="../public/css/Reset.css">
    <link rel="stylesheet" href="../public/contents/css/login.css">
</head>
<body>
    <div id="login_wrap">
        <!-- <h1><a href="#">Avenir</a></h1> -->
        <section id="login_main">
                <div id="login_id_clear" class="section_size">
                    <div>
                        <p>아이디는 <%=id%> 입니다.</p>
                        <a href="public/contents/login-id.html">확인</a>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <script src="../public/contents/js/jquery-3.5.1.min.js"></script>
    <script src="../public/contents/js/login.js"></script>
</body>
</html> 